html
  head
    title='Verifier'
  body
    form(method='post' action='/api/validate' enctype='multipart/form-data')
      input(type='file' name='credential' accept='application/json')
      input(type='submit' value='Submit')
